#########################
# .gitignore file 
#########################

# ignore all *.obj and *.bak files.
####################################
*.obj
*.bak
*.enc
*.tlog
*.log
*.pch
*.pdb

# Visual C++ cache files
####################################
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb
*.suo 
*.idb
*.idp



#exclude dir's:
####################################
**/Debug/
**/Release/
/src/TestCode/Debug
/src/TestCode/StringParser/Debug
/src/TestCode/BindingTableIterator/Debug
/src/DTBindingSoftware/Debug
/src/DTBindingSoftware/vs_2008/Debug
/src/DTBindingSoftware/vs_2015/Debug
/src/DTBindingSoftware/Release
/src/DTBindingSoftware/vs_2008/Release
/src/DTBindingSoftware/vs_2015/Release
/src/DEPENDS/AppRemoteCfg_v2/vs_2015/AppRemoteCfg_vs2015/ipch
/src/DEPENDS/AppRemoteCfg_v2/vs_2008/AppRemoteCfg_vs2008/Debug
/src/DEPENDS/AppRemoteCfg_v2/vs_2008/AppRemoteCfg_vs2008/Release
/src/DEPENDS/AppRemoteCfg_v2/vs_2008/AppRemoteCfg_vs2008/AppRemoteCfgConsole/Debug
/src/DEPENDS/AppRemoteCfg_v2/vs_2008/AppRemoteCfg_vs2008/AppRemoteCfgConsole/Release
/src/DEPENDS/AppRemoteCfg_v2/vs_2008/AppRemoteCfg_vs2008/AppRemoteCfgMfcWin/Debug
/src/DEPENDS/AppRemoteCfg_v2/vs_2008/AppRemoteCfg_vs2008/AppRemoteCfgMfcWin/Release
/src/DEPENDS/AppRemoteCfg_v2/vs_2008/AppRemoteCfg_vs2008/dtapprcfgmfclib/Debug
/src/DEPENDS/AppRemoteCfg_v2/vs_2008/AppRemoteCfg_vs2008/dtapprcfgmfclib/Release
/src/DEPENDS/AppRemoteCfg_v2/vs_2008/AppRemoteCfg_vs2008/json_c_lib/Debug
/src/DEPENDS/AppRemoteCfg_v2/vs_2008/AppRemoteCfg_vs2008/json_c_lib/Release
/src/DEPENDS/AppRemoteCfg_v2/vs_2008/AppRemoteCfg_vs2008/testZipConsole/Debug
/src/DEPENDS/AppRemoteCfg_v2/vs_2008/AppRemoteCfg_vs2008/testZipConsole/Release
/src/DEPENDS/AppRemoteCfg_v2/vs_2008/AppRemoteCfg_vs2008/ziplib/Debug
/src/DEPENDS/AppRemoteCfg_v2/vs_2008/AppRemoteCfg_vs2008/ziplib/Release
/src/DEPENDS/AppRemoteCfg_v2/vs_2015/AppRemoteCfg_vs2015/Debug
/src/DEPENDS/AppRemoteCfg_v2/vs_2015/AppRemoteCfg_vs2015/Release
/src/DEPENDS/AppRemoteCfg_v2/vs_2015/AppRemoteCfg_vs2015/AppFirmwareUpdateMFC/Debug
/src/DEPENDS/AppRemoteCfg_v2/vs_2015/AppRemoteCfg_vs2015/AppFirmwareUpdateMFC/Release
/src/DEPENDS/AppRemoteCfg_v2/vs_2015/AppRemoteCfg_vs2015/AppRemoteCfgMfcWin/Debug
/src/DEPENDS/AppRemoteCfg_v2/vs_2015/AppRemoteCfg_vs2015/AppRemoteCfgMfcWin/Release
/src/DEPENDS/AppRemoteCfg_v2/vs_2015/AppRemoteCfg_vs2015/dtapprcfgmfclib/Debug
/src/DEPENDS/AppRemoteCfg_v2/vs_2015/AppRemoteCfg_vs2015/dtapprcfgmfclib/Release
/src/DEPENDS/AppRemoteCfg_v2/vs_2015/AppRemoteCfg_vs2015/json_c_lib/Debug
/src/DEPENDS/AppRemoteCfg_v2/vs_2015/AppRemoteCfg_vs2015/json_c_lib/Release
/src/DEPENDS/AppRemoteCfg_v2/vs_2015/AppRemoteCfg_vs2015/x64/Debug
/src/DEPENDS/AppRemoteCfg_v2/vs_2015/AppRemoteCfg_vs2015/ziplib/Debug
/src/DEPENDS/AppRemoteCfg_v2/vs_2015/AppRemoteCfg_vs2015/ziplib/Release
/src/DEPENDS/AppRemoteCfg_v2/vs_2015/AppRemoteCfg_vs2015/ziplib/x64/Debug
/src/DEPENDS/sshfirmwareupdate/sshfirmwareupdate/firmwareUpdateConsole/Debug
/src/DEPENDS/sshfirmwareupdate/sshfirmwareupdate/firmwareUpdateConsole/Release
/src/DEPENDS/sshfirmwareupdate/sshfirmwareupdate/FirmwareUpdateLib/Debug
/src/DEPENDS/sshfirmwareupdate/sshfirmwareupdate/FirmwareUpdateLib/Release
*.suo
